/*
@colordef #242424; dark grey
@colordef #E2E3A6; light yellow
@colordef #8DB11F; green
@colordef #505050; grey
*/

div#polska textarea {
  background: #242424;
  border: 1px solid #E2E3A6;
  border-radius: 5px;
  color: #E2E3A6;
  font-family: arial;
  margin-right: 20px;
  padding: 10px;
  resize: vertical;
}

div#polska textarea:focus {
  box-shadow: 0 0 15px white;
  outline-width: 0;
}

div#polska textarea.readonly {
  background: #E2E3A6;
  color: #000;
  overflow: hidden;
}

/* @group blinkenlichten */
#blinkenlichten ul li {
  background: #505050;
  border-radius: 50%;
  float: left;
  font-weight: bold;
  height: 22px;
  margin-right: 5px;
  padding-top: 3px;
  text-align: center;
  vertical-align: bottom;
  width: 25px;
}
#blinkenlichten ul {
  list-style-type: none;
  margin-left: 0;
  overflow: auto;
}
#blinkenlichten ul li.active {
  background: green;
}
#blinkenlichten ul.meta li.active {
  background: red;
}
/* @end blinkenlichten */
